/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Colours
- Base Styles
- Typography
- Header
- Footer
- Section
- Media Queries
*/

/* Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- Dark Orange   #FA6900
- Light Orange  #f3b17e
- Dark Blue     #69D2E7
- Light Blue    #A7DBD8
- Off white     #E0E4CC
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    color: #E0E4CC;
    background: #FA6900;
    font-family: 'Raleway', sans-serif;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Logo*/
header h1 {
    margin: 20rem 1rem 20rem;
    font-family: 'Amaranth', sans-serif;
    font-size: 5em;
    font-weight: 600;
    line-height: .65em;
    letter-spacing: 0;
    color: #fff;
}
    header h1 .highlight {
        font-size: .8em;
        font-weight: 400;
        color: #f3b17e;
    }
    header h1 a,
    header h1 a:hover {
        text-decoration: none;
        color: #fff;
    }

/*Article Heading*/
h2 {
    margin: 1rem;
    font-size: 1.5em;
    letter-spacing: 0;
    color: #f3b17e;
}

/*Links*/
a {
    text-decoration: none;
    color: #f3b17e;
}
a:hover,
a:focus,
a:active {
    color: #fff;
}
.activeNav {
    cursor: default;
    color: #fff;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
    text-align: right;
}
    nav ul {
        margin: 0;
    }
        nav li {
            display: inline;
            margin-right: 1rem;
            font-size: 1em;
            list-style-type: none;
        }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    text-align: center;
}
    footer a {
        display: inline-block;
        margin: 1rem 0;
    }

/* Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    padding: 0;
}

/* Section - Portfolio (index)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.portfolioItem {
    position: relative; 
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    background-color: #A7DBD8;
}
    .portfolioUnclicked {
        display: block;
        max-width: 100%;
        filter: grayscale(100%) opacity(60%) contrast(120%);
        -webkit-filter: grayscale(100%) opacity(60%) contrast(120%);
        cursor: pointer;
    }
        #portfolio img:hover,
        .portfolioClicked {
            filter: grayscale(0%) opacity(100%) contrast(100%);
            -webkit-filter: grayscale(0%) opacity(100%) contrast(100%);
        }
        .portfolioClicked {
            cursor: auto;
        }
    .portfolioItemOverlay {
        display: none;
    }
        .portfolioItemOverlayShow {
            position: absolute;
            bottom: 0;
            z-index: 10;
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 1rem;
            background-color: rgba(0,0,0,.6);
            text-align: left;
        }
            .portfolioItemOverlayShow h3,
            .portfolioItemOverlayShow p,
            .portfolioItemOverlayShow button {
                margin: 0;

            }
            .portfolioItemOverlayShow p {
                margin-bottom: 1rem;
            }
            .portfolioButton {
                display: inline-block;
                height: auto;
                margin-bottom: 0;
                padding: 1rem 3rem;
                font-size: .75em;
                font-weight: 300;
                letter-spacing: 0;
                line-height: inherit;
                text-transform: uppercase;
                border: 1px solid #fff;
                border-radius: 0;
                color: #fff;
            }
                .portfolioButton:hover {
                    border-color: #888;
                    background-color: rgba(0,0,0,.3);
                }


/* Media Queries (Mobile first)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {
    .container {
        width: 100%;
    }
    header h1 {
        font-size: 6em;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    header h1 {
        font-size: 8em;
    }
    nav li {
        font-size: 1.3em;
        margin-right: 0;
        margin-left: 1.3rem;
    }
    .portfolioItem {
        width: 50%; 
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    nav li {
        font-size: 1.5em;
        margin-left: 1.5rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    header h1 {
        font-size: 10em;
    }
    nav li {
        font-size: 2em;
        margin-left: 2rem;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .portfolioItem {
        width: 25%; 
    }
    footer a {
        display: none;
    }
}